<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
       <tab id="mconnectmedia" translate="label" sortOrder="300">
            <label>M-Connect Media</label>
        </tab>
		
		<section id="mconnectmedia_cpcu" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>CMS Page Canonical Url</label>
            <tab>mconnectmedia</tab> 
			
            <resource>Mconnectmedia_CmsPageCanonicalUrl::config_cpcu</resource>	
			
			<group id="general" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General Setting</label>
				
				<field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable/Disable</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				
				<field id="trailing_slash" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Trailing slash </label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>							
				
			</group>			
			
        </section>       
    </system>
</config>
